---
import Layout from "../layouts/Layout.astro";
import TasksList from "../components/TasksList.astro";
import InfoHeader from "../components/InfoHeader.astro";
import AddTask from "../components/AddTask.astro";
---

<Layout title="Flow">
  <InfoHeader />
  <main>
    <!-- Provicionales -->
    <TasksList />
    <TasksList />
    <!-- Provicionales -->
  </main>
  <AddTask />
</Layout>

<style>
  main {
    padding-top: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 100vh;
    border-radius: 15px;
    gap: 0.5em;
  }
</style>
