---
import Layout from "../layouts/Layout.astro"
import AuthPanel from "../components/AuthPanel.astro"
---

<Layout title="User Info">
  <template x-if="$store.authInfo.isLogged === false">
    <AuthPanel/>
  </template>
  <template x-if="$store.authInfo.isLogged">
    <p>I'm Logged in</p>
  </template>
</Layout>

<script>
</script>
