---
import Layout from "../layouts/Layout.astro"
import AuthPanel from "../components/AuthPanel.astro"

const logined = false
---

<Layout title="User Info">
  {logined ? <p>I'm logged in</p> : <AuthPanel/>}
</Layout>
