---
---
<section x-data="authPanel">
  <button @click="openRegisterForm()">Create account</button>
  <div>
  <button>Login</button>
  <button>Logout</button>
  </div>
  <dialog id="register-form">
    <label>Username: <input type="text" name="username" required></label>
    <label>Password: <input type="password" name="password" required autocomplete="new-password"></label>
    <button @click="closeRegisterForm()">Register</button>
  </dialog>
</section>

<script>
import Alpine from "alpinejs"

document.addEventListener("alpine:init", () => {
  const registerFormDialog: HTMLDialogElement | null = document.querySelector("#register-form")

  Alpine.data('authPanel', () => ({
    openRegisterForm() {
      if (registerFormDialog) {
        registerFormDialog.showModal()
      } 
    },
    closeRegisterForm() {
      if (registerFormDialog) {
        registerFormDialog.close()
      }
    }
  }))
})
</script>
<style>
  section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  button {
    font-family: "Fredoka Variable";
    font-size: 1.5rem;
    background-color: lightblue;
    border: none;
    border-radius: 10px;
    padding-block: 0.25rem;
  }

  div {
    display: flex;
    gap: 0.5rem;
  }

  #register-form {
    display: none;
  }

  #register-form[open] {
    display: block;
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    button {
      width: 50vw;
    }
  }
</style>
