---

---

<header>
  <div class="top-header">
    <img
      src="https://pub-c09465b043d74aa98a5a45af1737c270.r2.dev/user-icon.svg"
      alt="side menu"
    />
    <span id="date">Sun, 29/09</span>
    <span>D - 1</span>
  </div>
  <span id="sw-time">02:26:03</span>
</header>

<style>
  header {
    background-color: var(--secundary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em 0;
    margin: 0.6em;
    margin-bottom: 1.3em;

    .top-header {
      display: flex;
      gap: 8.5em;
    }
  }

  #sw-time {
    font-size: 1.5em;
    font-weight: 700;
  }
</style>
