---
import "@fontsource-variable/fredoka";
import fredokaVariableFont from "@fontsource-variable/fredoka/files/fredoka-latin-ext-standard-normal.woff2?url";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="To track your work/study tasks and time."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={fredokaVariableFont}
      crossorigin="anonymous"
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    font-family: "Fredoka Variable", sans-serif;
    --secundary-color: #f6d0d9;
    --primary-color: #fff;
    --subject-one-color: #f4b3a4;
    --subject-two-color: #f7a6b6;
  }
</style>
